body{
  display: none;
}
.pyg_view {
  padding: 20px 15px; // 用户信息
  .userinfo {
    background-color: #fff;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    .fa {
      font-size: 30px;
      margin-right: 15px;
    }
    .user_wrap {
      flex: 2;
      .user_email {
        color: #666;
      }
    }
  } // 订单管理
  .order {
    background-color: #fff;
    .order_title {
      padding: 10px;
      border-bottom: 1px solid #ccc;
    }
    .order_content {
      display: flex;
      justify-content: space-around; // align-items: center;
      text-align: center;
      padding: 10px;
      margin-bottom: 20px;
      a {
        line-height: 30px;
        span {
          font-size: 30px;
        }
      }
    }
  } //账号管理
  .pyg_pwd {
    margin-bottom: 20px;
  } //联系客服
  .pyg_contack {
    margin-bottom: 20px;
  } //退出登录 
  .me_tool {
    text-align: center;
    button{
      height: 50px;
      width: 80%;
    }
  }
}